.main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-info a {
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .user-info button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px; /* Adjust the margin value as needed */
  }

  .video-list{
    width: flex;
    flex-wrap: wrap;
  }
  
  .video-container {
    width: calc (33.33x - 20px);
    margin: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3 ease;
    
  }
  
  .video-container.active {
    transform: scale(1.1);
  }
  
  .video-container video {
    width: 100%;
    height: auto;
  }
  
  .video-container {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }